<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ruta más corta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="bootstrap.min.css" />
    <script src="vue.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
</head>

<body>
    <div class="container" id="app">
        <br><br>
        <div class="row">
            <div class="col-md-4">
                <h2 class="text-center">Distancia más corta usando Dijkstra</h2>   <br>
                <h4 class="text-center">Jovanny Rch</h4> <br>
                <button class="btn btn-success" v-on:click="tipo = 1">Presa</button>
                <button class="btn btn-danger" v-on:click="tipo = 2">Depredador</button>
                <button class="btn btn-warning" v-on:click="tipo = 3">Obstaculos</button>
                <br><br>
                <button class="btn btn-info" v-on:click="dibujarCamino">Dibujar camino</button>
                <br><br><br>
                <textarea class="form-control" name="" id="" cols="45" rows="10">Presa: ({{presa.x}},{{presa.y}}) 
Depredador: ({{depredador.x}},{{depredador.y}})
La distancia es: 
{{distancia}} unidades
                </textarea><br>

            </div>

            <div class="col-md-8">
                <span class="text-white">{{tipo}}</span>
                <table class="table  ">
                    <tr v-for="item in tabla">
                        <td style="border: .5px solid black" v-for="elemento in item" :class="elemento.estilo"
                            v-on:click="cambiarEstilo(elemento)"> <span :class="elemento.span"></span>
                            {{elemento.numero}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script>
        app = new Vue({
            el: "#app",
            data: {
                tabla: null,
                tipo: -1,
                depredador: {
                    x: 0,
                    y: 0
                },
                presa: {
                    x: 0,
                    y: 0
                },
                distancia: 0
            },
            created: function () {
                let index = 1;
                this.tabla = new Array(10);
                for (let i = 0; i < 10; i++) {
                    this.tabla[i] = new Array(10);
                    for (let j = 0; j < 10; j++) {
                        // 1 para la presa
                        // 2 para el depredador
                        // 3 para el obstaculo
                        // 4 camino
                        this.tabla[i][j] = {
                            tipo: 1,
                            numero: '-',
                            estilo: '',
                            x: i,
                            y: j,
                            valor: 10,
                            visitado: false,
                            span: ''
                        };
                        index += 1;
                    }
                }
            },
            methods: {
                cambiarEstilo(elemento) {
                    //presa

                    if (this.tipo == 1) {
                        elemento.estilo = "bg-success";

                        elemento.span = "fa fa-dove";
                        elemento.numero = "";
                        this.presa.x = elemento.x;
                        this.presa.y = elemento.y;
                        this.tipo = -1;
                    }
                    if (this.tipo == 2) {
                        elemento.estilo = "bg-danger";

                        elemento.span = "fab fa-wolf-pack-battalion";
                        elemento.numero = "";
                        this.depredador.x = elemento.x;
                        this.depredador.y = elemento.y;
                        this.tipo = -1;
                        elemento.valor = 0;
                    }
                    if (this.tipo == 3) {
                        elemento.estilo = "bg-warning";
                        elemento.span = "fa fa-ban";
                        elemento.numero = "";
                        elemento.visitado = true;
                        this.tipo = -1;
                        this.tipo = 3;
                    }
                    // 4 camino
                    if (this.tipo == 4) {
                        elemento.estilo = "bg-primary";
                        this.tipo = -1;
                        this.tipo = 4;
                    }
                },
                dibujarCamino() {



                    this.tabla[this.depredador.x][this.depredador.y].visitado = true;



                    nodoActual = this.tabla[this.depredador.x][this.depredador.y];

                    index = 0;
                    while (true) {

                        distanciaMenor = {
                            valor: 1000,
                            x: -1,
                            y: -1
                        };
                        //Primer vecino
                        if (nodoActual.x - 1 >= 0 && nodoActual.y - 1 >= 0) {
                            v = this.tabla[nodoActual.x - 1][nodoActual.y - 1];
                            if (v.visitado == false) {
                                d = this.calcularDistancia(v, this.presa);
                                if (d < distanciaMenor.valor) {
                                    distanciaMenor.valor = d;
                                    distanciaMenor.x = v.x;
                                    distanciaMenor.y = v.y;
                                }
                            }


                        }

                        //Segundo vecino
                        if (nodoActual.x - 1 >= 0) {
                            v = this.tabla[nodoActual.x - 1][nodoActual.y];
                            if (!v.visitado) {
                                d = this.calcularDistancia(v, this.presa);
                                if (d < distanciaMenor.valor) {
                                    distanciaMenor.valor = d;
                                    distanciaMenor.x = v.x;
                                    distanciaMenor.y = v.y;
                                }
                            }
                        }

                        //Tercer vecino
                        if (nodoActual.x - 1 >= 0 && nodoActual.y + 1 <= 9) {
                            v = this.tabla[nodoActual.x - 1][nodoActual.y + 1];
                            if (!v.visitado) {
                                d = this.calcularDistancia(v, this.presa);
                                if (d < distanciaMenor.valor) {
                                    distanciaMenor.valor = d;
                                    distanciaMenor.x = v.x;
                                    distanciaMenor.y = v.y;
                                }
                            }
                        }

                        //Cuarto vecino
                        if (nodoActual.y + 1 <= 9) {
                            v = this.tabla[nodoActual.x][nodoActual.y + 1];
                            if (!v.visitado) {
                                d = this.calcularDistancia(v, this.presa);
                                if (d < distanciaMenor.valor) {
                                    distanciaMenor.valor = d;
                                    distanciaMenor.x = v.x;
                                    distanciaMenor.y = v.y;
                                }
                            }
                        }

                        //Quinto Vecino
                        if (nodoActual.x + 1 <= 9 && nodoActual.y + 1 <= 9) {
                            v = this.tabla[nodoActual.x + 1][nodoActual.y + 1];
                            if (!v.visitado) {
                                d = this.calcularDistancia(v, this.presa);
                                if (d < distanciaMenor.valor) {
                                    distanciaMenor.valor = d;
                                    distanciaMenor.x = v.x;
                                    distanciaMenor.y = v.y;
                                }
                            }
                        }

                        //Sexto Vecino
                        if (nodoActual.x + 1 <= 9) {
                            v = this.tabla[nodoActual.x + 1][nodoActual.y];
                            if (!v.visitado) {
                                d = this.calcularDistancia(v, this.presa);
                                if (d < distanciaMenor.valor) {
                                    distanciaMenor.valor = d;
                                    distanciaMenor.x = v.x;
                                    distanciaMenor.y = v.y;
                                }
                            }
                        }

                        //Septimo Vecino
                        if (nodoActual.x + 1 <= 9 && nodoActual.y - 1 >= 0) {
                            v = this.tabla[nodoActual.x + 1][nodoActual.y - 1];
                            if (!v.visitado) {
                                d = this.calcularDistancia(v, this.presa);
                                if (d < distanciaMenor.valor) {
                                    distanciaMenor.valor = d;
                                    distanciaMenor.x = v.x;
                                    distanciaMenor.y = v.y;
                                }
                            }
                        }

                        //Octavo Vecino
                        if (nodoActual.y - 1 >= 0) {
                            v = this.tabla[nodoActual.x][nodoActual.y - 1];
                            if (!v.visitado) {
                                d = this.calcularDistancia(v, this.presa);
                                if (d < distanciaMenor.valor) {
                                    distanciaMenor.valor = d;
                                    distanciaMenor.x = v.x;
                                    distanciaMenor.y = v.y;
                                }
                            }
                        }

                        this.tabla[distanciaMenor.x][distanciaMenor.y].estilo = "bg-info";
                        this.tabla[distanciaMenor.x][distanciaMenor.y].span = "fa fa-walking";

                        this.tabla[distanciaMenor.x][distanciaMenor.y].numero = index + 1;
                        this.tabla[distanciaMenor.x][distanciaMenor.y].visitado = true;
                        nodoActual = this.tabla[distanciaMenor.x][distanciaMenor.y];
                        this.tipo = -1;
                        this.tipo = 100;

                        index += 1;
                        if ((nodoActual.x == this.presa.x && nodoActual.y == this.presa.y) || distanciaMenor.valor ==
                            1000) {
                            this.distancia = index;
                            break
                        };
                    }

                    this.tabla[this.presa.x][this.presa.y].estilo = "bg-success";
                    this.tabla[this.presa.x][this.presa.y].span = "fa fa-dove";
                    this.tipo = -1;
                    this.tipo = 100;

                },
                calcularDistancia(a, b) {
                    return Math.sqrt(Math.pow((a.x - b.x), 2) + Math.pow((a.y -
                        b.y), 2));
                }
            },
            computed: {
                calcularDistancia2() {
                    return Math.sqrt(Math.pow((this.presa.x - this.depredador.x), 2) + Math.pow((this.presa.y -
                        this.depredador.y), 2));
                }
            }
        });
    </script>
</body>

</html>